@model ItemApp.Models.P21Item

@{
    Layout = null;
    ViewData["Title"] = "Details";
}

<div>
    <div class="card">
        <div class="card-body">
            @foreach (var item in Model.Images)
            {
                <img class="img-fluid" src="~/images/@item.ImageLocation" asp-append-version="true" />
            }
        </div>

    </div>
    <p><a asp-controller="ItemMaster" asp-action="Details" asp-route-id="@Model.inv_mast_uid">Item</a></p>
    </div>